body {
  background-color: #C5DCE6;
}
h1 {
  font-size: 3em;
  height: 15%;
  background-color: #19BA19;
  margin: inherit;
  text-align: center;
}
h2 {
  text-align: center;
}
h4 {
  text-align: center;
}
button {
  display: inline-block;
}
strong {
  font-size: 1.3em;
}
.cfMain {
  color: black;
  font-family: 'Lora', serif;
  margin-left: 5%;
  margin-right: 5%;
}
.footer {
  display: flex;
  flex-direction: row;
  font-size: .9em;
  background-color: #19BA19;
}
.footer p {
  margin-left: 5%;
}
#cfMap {
  margin-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
  max-width: 100%;
  height: auto;
}
